<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> Products <small></small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="col-md-3">
                    <div class="card" style="">
                        <img class="card-img-top" src="/images/product-images/{{this._id}}.jpg" alt="{{this._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5><br>
                            <h6>{{this.category}}</h6>
                            <h6>₹{{this.price}}</h6>
                            <p class="card-text">{{this.description}}</p>
                            <a href="#" class="btn btn-primary ">Add To Cart <i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->